*{
    font-family: 'Times New Roman', Times, serif;
}

.images{
    /* image */
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(images/257e3f2d.jpg);
    background-attachment: fixed;
    /* text */
    color: black;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}